.profile__info {
  display: grid;
  grid-template-columns: minmax(min-content, 294px);
  grid-template-rows: minmax(min-content, max-content);
  margin: 22px 0 0 30px;
  max-width: 610px;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 28px 0 0;
    grid-template-columns: minmax(min-content, 282px);
    grid-template-rows: minmax(min-content, 18px);
    justify-content: center;
    max-width: 282px;
  }
}