.popup-auth__auth-input {
  background-color: black;
  height: 26px;
  color: #ffffff;
  margin: 0 0 30px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #CCCCCC;
  outline: none;
  padding: 0;
}