.popup__input-error {
  min-height: 28px;
  visibility: hidden;
  width: 358px;
  margin: 5px auto 0;
  color: #FF0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  white-space: break-spaces;
}

@media screen and (max-width: 768px) {
  .popup__input-error {
    min-height: 22px;
    width: 238px;
    font-size: 14px;
  }
}